<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mago>
            <kvk>
                <kvk_attribute/>
                <cache_days>7</cache_days>
            </kvk>
        </mago>
    </default>
</config>
